:root {
  --code-color: #ff0;
  --code-bg-color: #0d0d73;
  --main-color: #000;
  --main-bg-color: #eee;
  --header-bg-color: #ddd;
  --footer-bg-color: #eb8347;
  --form-bg-color: #99eb47;
}
header.included {
  background-color: var(--header-bg-color);
  padding: 0.5em;
}
main {
  color: var(--main-color);
  background-color: var(--main-bg-color);
  padding: 0.5em;
}
main.index article.post {
  border: thin solid var(--main-color);
  margin-bottom: 1em;
  padding: 0.5em;
}
footer {
  background-color: var(--footer-bg-color);
  padding: 0.5em;
}
hgroup.title-date > h2.title {
  display: inline;
}
hgroup.title-date > time.date {
  font-size: 1em;
  margin-left: 1em;
}
hgroup.title-subtitle > * {
  display: inline;
}
hgroup.title-subtitle > p::before {
  content: "-- ";
}
ul.header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}
ul.header > li {
  margin-left: 1em;
}
section.category > h3.cat-1 {
  display: inline;
  margin-right: 0.5em;
}
article.post > ul.tags {
  display: inline;
  margin-left: 1em;
  list-style-type: none;
}
article.post > ul.tags > li {
  display: inline;
  margin-left: 1em;
}
article.post > header {
  background-color: var(--main-bg-color);
}
span.length {
  margin-left: 1em;
}
fieldset.form {
  background-color: var(--form-bg-color);
}
fieldset.form > legend {
  filter: brightness(70%);
}
form.send-message {
  display: flex;
  flex-direction: column;
}
form.send-message div.form-part {
  display: flex;
  flex-direction: row;
}
form.send-message div.form-part > label::after {
  content: ": ";
}
form.send-message div.form-part.col {
  flex-direction: column;
}
form.send-message div.submit {
  flex-direction: row-reverse;
}
form.send-message div.submit > button.submit {
  border-radius: 0.4em;
  margin-top: 1em;
  width: fit-content;
}
code {
  font-family: monospace;
  color: var(--code-color);
  background-color: var(--code-bg-color);
}
code::before {
  border-bottom: thin solid #000;
}
code::after {
  border-top: thin solid #000;
}
div#search label[for|="input-ignore"] {
  margin-right: 0.8em;
}
div.search-result-container border thin solid black.search-result-entry {
  background-color: #fff;
}
div.search-result-container border thin solid black.search-result-entry .date {
  margin: 0 1em;
}
div.search-result-container border thin solid black.search-result-entry img {
  width: 20%;
}
